<div class="container">
  <h3 class="alert alert-secondary text-center" style="color: rgb(0, 0, 0);">Clientes</h3>
  <button type="button" class="btn btn-success mb-3" (click)="adicionar(modal1)">
      <i class="fa fa-plus"></i> Adicionar clientes
  </button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Cpf</th>
        <th scope="col">Telefone</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of lista; let i = index">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nomeCliente }}</td>  
        <td>{{ cliente.cpf }}  
        <td>{{ cliente.telefone }}   
          <td *ngIf="!modoLancamento"><button type="button" class="btn btn-primary" (click)="editar(modal1, cliente, i)">Editar</button></td>
          <td *ngIf="modoLancamento"><button type="button" class="btn btn-primary" (click)="lancamento(cliente)">Lançar</button></td>
          <td><button type="button" class="btn btn-danger" (click)="excluir(cliente, i)">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>

  
  <ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Adicionar Cliente</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-clientes-details [cliente]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarCliente($event)" ></app-clientes-details>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>