<div class="container">
    <h3 class="alert alert-secondary text-center" style="color: rgb(0, 0, 0);">Pizzas</h3>
    <button type="button" class="btn btn-success mb-3" (click)="adicionar(modal1)">
        <i class="fa fa-plus"></i> Adicionar pizzas
    </button>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome da Pizza</th>
          <th scope="col">Tamanho</th>
          <th scope="col">Categoria</th>
          <th scope="col">Preco</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pizza of lista; let i = index">
          <td>{{ pizza.id }}</td>
          <td>{{ pizza.nomePizza }}</td>  
          <td>{{ pizza.tamanho }}  
          <td>{{ pizza.categoria }}  
          <td>{{ pizza.preco }}  
            <td *ngIf="!modoLancamento"><button type="button" class="btn btn-primary" (click)="editar(modal1, pizza, i)">Editar</button></td>
            <td *ngIf="modoLancamento"><button type="button" class="btn btn-primary" (click)="lancamento(pizza)">Lançar</button></td>
            <td><button type="button" class="btn btn-danger" (click)="excluir(pizza, i)">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
    
    <ng-template #modal1 let-modal>
      <div class="modal-header">
          <h4 class="modal-title">Adicionar pizza</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <app-pizzas-details [pizza]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarPizza($event)" ></app-pizzas-details>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
  </ng-template>