<div class="container">
  <h3 class="alert alert-secondary text-center" style="color: rgb(0, 0, 0);">Pedidos</h3>
  <button type="button" class="btn btn-success mb-3" (click)="adicionar(modal1)">
      <i class="fa fa-plus"></i> Adicionar pedido
  </button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Total</th>
        <th scope="col">Delivery</th>
        <th scope="col">Forma de pagamento</th>
        <th scope="col">Hora do pedido</th>
        <th scope="col">Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pedidos of lista; let i = index">
        <td>{{pedidos.id}}</td>
        <td>{{pedidos.total}}</td>
        <td>
          <span [ngClass]="pedidos.delivery ? 'green-box' : 'red-box'">{{ pedidos.delivery ? 'Sí' : 'No' }}</span>
        </td>
        <td>{{ pedidos.formaPagamento }}</td>
        <td>{{ pedidos.criadoEm }}</td>
        <td> 
          <button type="button" class="btn btn-primary" (click)="editar(modal1, pedidos, i)">Editar</button> 
          <button type="button" class="btn btn-danger" (click)="excluir(pedidos, i)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  
  <ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Pedido</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
      <app-pedido-details [pedido]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarPedido($event)" ></app-pedido-details>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>