.green-box {
    background-color: green; 
    color: white; 
    padding: 5px 10px;
    border-radius: 4px; 
    display: inline-block;
  }
  
  .red-box {
    background-color: red; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 4px; 
    display: inline-block; 
  }
  