

<nav class="navbar navbar-expand-lg navbar-light headercolor ">
    <a class="navbar-brand textheader" href="#">El Tano Pizzaria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link textheader" href="/inicio/produtos">Produto </a>
        </li>
        <li class="nav-item">
          <a class="nav-link textheader" href="/inicio/pedidos">Pedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link textheader" href="inicio/clientes">Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link textheader" href="">Endereço</a>
          </li>
      </ul>
    </div>
  </nav>