<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="total" class="form-label">Total:</label>
        <input type="text" id="total" class="form-control" name="total" [(ngModel)]="pedido.total">
    </div>
    <div class="mb-3">
        <label for="delivery" class="form-label">Delivery (true/false):</label>
        <input type="text" id="delivery" class="form-control" name="delivery" [(ngModel)]="pedido.delivery">
    </div>
    <div class="mb-3">
        <label for="formaPagamento" class="form-label">Forma de pagamento:</label>
        <input type="text" id="formaPagamento" class="form-control" name="formaPagamento" [(ngModel)]="pedido.formaPagamento">
    </div>

    <button type="button" class="btn btn-primary" (click)="lancar(modal1)">Lançar produto</button> 

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of pedido.produtoList; let i = index">
                <th scope="row">{{ produto.id }}</th>
                <td> {{ produto.nomeProduto }} </td>
                <td> {{ produto.preco }} </td>
                <td> <button type="button" class="btn btn-primary" (click)="excluir(produto,i)">Excluir</button> </td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary" >Salvar</button>
</form>




<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Produtos</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-produtos-list [modoLancamento]="true" (retorno)="retornoProdutosList($event)" ></app-produtos-list>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>