<form (ngSubmit)="salvar()">
    <div class="form-froup">
        <label class="label-form" for="select_cliente" class="label"
          >Cliente</label
        >
        <select
          name="select_cliente"
          class="label estilo"
          [(ngModel)]="pedido.cliente"
        >
          <option *ngFor="let cliente of clientes" [ngValue]="cliente">
            {{ cliente.nomeCliente }}
          </option>
        </select>
      </div>
      <div class="form-froup">
        <label class="label-form" for="select_funcionario" class="label"
          >Funcionario</label
        >
        <select
          name="select_funcionario"
          class="label estilo"
          [(ngModel)]="pedido.funcionario"
        >
          <option *ngFor="let funcionario of funcionarios" [ngValue]="funcionario">
            {{ funcionario.nomeFuncionario }}
          </option>
        </select>
      </div>
    <div class="mb-3">
        <label for="total" class="form-label">Total:</label>
        <input type="text" id="total" class="form-control" name="total" [(ngModel)]="pedido.total">
    </div>
    <div class="mb-3">
        <label for="delivery" class="form-label">Delivery:</label>
        <div class="form-check">
            <input type="checkbox" id="delivery" class="form-check-input" name="delivery" [(ngModel)]="pedido.delivery">
            <label class="form-check-label" for="delivery">Delivery</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="formaPagamento" class="form-label">Forma de pagamento:</label>
        <select id="formaPagamento" class="form-select" name="formaPagamento" [(ngModel)]="pedido.formaPagamento">
          <option *ngFor="let formaPagamento of formaPagamentoOptions" [value]="formaPagamento">{{ formaPagamento }}</option>
        </select>
    </div>

    <button type="button" class="btn btn-primary" (click)="lancar(modal1)">Lançar produto</button>
    <button type="button" class="btn btn-primary" (click)="lancar(modal4)">Lançar pizza</button> 

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of pedido.produtoList; let i = index">
                <th scope="row">{{ produto.id }}</th>
                <td> {{ produto.nomeProduto }} </td>
                <td> {{ produto.preco }} </td>
                <td> <button type="button" class="btn btn-primary" (click)="excluir(produto,i)">Excluir</button> </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome da pizza</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Categoria</th>
                <th scope="col">Preco</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pizza of pedido.pizzaList; let i = index">
                <th scope="row">{{ pizza.id }}</th>
                <td> {{ pizza.nomePizza }} </td>
                <td> {{ pizza.tamanho }} </td>
                <td> {{ pizza.categoria }} </td>
                <td> {{ pizza.preco }} </td>
                <td> <button type="button" class="btn btn-primary" (click)="excluirPizza(pizza,i)">Excluir</button> </td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary" >Salvar</button>
</form>




<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Produtos</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-produtos-list [modoLancamento]="true" (retorno)="retornoProdutosList($event)" ></app-produtos-list>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modal4 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Pizzas</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-pizzas-list [modoLancamento]="true" (retorno)="retornoPizzasList($event)" ></app-pizzas-list>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>